:root {
    --bg1: #181735;
    --bg2: #444394;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: var(--bg2);
    display: flex;
    color: #ffffff;
}

header {
    height: 100vh;
    color: rgba(255, 255, 255, 0.50);
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

header .material-symbols-rounded {
    font-size: 32px !important;
    transition: color .3s;
}
header .active .material-symbols-rounded {
    color: #ffffff;
}
header .material-symbols-rounded:hover {
    color: #ffffff;
}

.nav__item {
    cursor: pointer;
    padding: 12px;
    user-select: none;
}

main {
    background: var(--bg1);
    border-radius: 45px 0 0 45px;
    height: 100vh;
    flex-grow: 2;
    padding: 32px 64px;
}

.title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 32px;
}

.bestGames {
    display: flex;
    gap: 32px;
}

.card {
    width: 25vw;
    height: 30vh;
    border-radius: 22px;
    position: relative;
    transition: .2s ease-in-out;
}
.card:hover {
    box-shadow: 0 0 24px rgba(255, 255, 255, 0.25);
}
.card__title {
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 22px 22px;
    font-weight: bold;
    font-size: 20px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__title .material-symbols-rounded {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in-out;
}
.card__title .material-symbols-rounded:hover {
    transform: scale(1.4);
}
#mistigri {
    background: url("../assets/Mistigri-la-souris.png") no-repeat;
    background-size: contain;
}
#mistigri .card__title {
    background: linear-gradient(to top, rgba(0, 128, 0, 1) 60%, rgba(0, 128, 0, 0.80));
}
#tic-tac-toe {
    background: url("../assets/Tic-Tac-Toe.png") no-repeat;
    background-size: contain;
}
#tic-tac-toe .card__title {
    background: linear-gradient(to top, rgba(218, 112, 214, 1) 60%, rgba(218, 112, 214, 0.80));
}
#game {
    display: none;
    width: 100%;
    justify-content: center;
}
.game-screen {
    width: 70vw;
    aspect-ratio: 16/9;
    border-radius: 35px;
    border: none;
}
