:root {
    --bg1: #f4f4f4;
    --bg2: #444394;
    --bg3: #181735;
    --text-color: #444394;
    --text-color-inactive: rgba(255, 255, 255, 0.5);
    --fs-bg: rgba(244, 244, 244, 0.70);
}

.dark_mode {
    --bg1: #181735;
    --bg2: #444394;
    --bg3: #ffffff;
    --text-color: #ffffff;
    --text-color-inactive: rgba(255, 255, 255, 0.5);
    --fs-bg: rgba(24, 23, 53, 0.70);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: var(--bg2);
    display: flex;
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: color .5s;
}

header {
    height: 100vh;
    color: var(--text-color-inactive);
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

header .material-symbols-rounded {
    font-size: 32px !important;
    transition: color .3s;
}
header .material-symbols-rounded.active {
    color: #ffffff;
}
header .material-symbols-rounded:hover {
    color: #ffffff;
}

.nav__item {
    cursor: pointer;
    padding: 12px;
    user-select: none;
}

.head {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 64px;
    margin-bottom: 24px;
}
.theme-toggle {
    position: absolute;
    right: 64px;
    top: 50%;
    transform: translateY(-50%) scale(2);
}
.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    font-weight: bold;
}
.mainlogo{
    width: 10vw;
    margin-bottom: -5vh;
    filter: invert(100%);
}
.title {
    font-size: 30px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 22px;
    transform: scale(1.2);
}

main {
    background: var(--bg1);
    border-radius: 45px 0 0 45px;
    height: 100vh;
    flex-grow: 2;
    box-shadow: -8px 0 12px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    transition: background-color .5s;
}
.container {
    padding: 16px 64px;
    overflow: scroll;
    height: 85vh;
}

.git {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
    color: var(--text-color);
    font-size: 16px;
    position: absolute;
    bottom: 32px;
    right: 32px;
    z-index: 1;
}

.git svg {
    width: 20px;
    height: 20px;
}

/*
    HOME
*/
.home_search {
    margin-bottom: 64px;
    padding-left: 32px;
    display: flex;
    justify-content: start;
    gap: 32px;
    align-items: end;
    color: var(--bg3);
}

.bestGames {
    display: flex;
    gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 32px;
}

.search__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid var(--text-color) 2px;
    padding: 4px;
}
.search__field {
    width: 20vw;
    font-size: 16px;
    font-weight: bold;
    color: var(--bg3);
    background: none;
    appearance: none;
    border: none;
}
.search__field:focus {
    outline: none;
}
.search__icon {
    cursor: pointer;
    color: var(--text-color);
    background: none;
    appearance: none;
    border: none;
    border-radius: 50px;
    padding: 6px 8px;
    transition: all .4s;
}
.search__icon:focus {
    outline: solid var(--text-color) 1px;
}
.search__icon:hover {
    background: var(--text-color);
    color: var(--bg1);
}

.settings__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 0;
}
.settings__wrapper .star {
    color: #f7c400;
    font-size: 22px;
}
.note__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.note__select {
    position: relative;
}
.note__select .material-symbols-rounded {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
#note_selection {
    color: inherit;
    font-size: 16px;
    border: none;
    background: rgba(255, 255, 255, 0.0);
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 48px 8px 12px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: .2s;
    width: max-content;
}
#note_selection:hover {
    background: rgba(0, 0, 0, 0.1);
}
.cat__choose {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    user-select: none;
}
.cat__choose input {
    accent-color: var(--bg2);
}

.card {
    width: 27%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    background: #ffffff;
}
.dark_mode .card {
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.15);
    background: #2C2D59;
}
.card__img {
    width: 100%;
    height: 70%;
    min-height: 200px;
}
.card__title {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    color: #000000;
    background: #ffffff;
    transition: all .3s;
}
.dark_mode .card__title {
    background: #2C2D59;
    color: #ffffff;
}
.card__title__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.card__title .material-symbols-rounded.play {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in-out;
}
.card__title .material-symbols-rounded.play:hover {
    transform: scale(1.3);
}
.card__note {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.80);
    padding: 10px;
    border-radius: 0 0 16px 0;
    background: #ffffff;
    width: max-content;
}
.card__note .material-symbols-rounded {
    color: #f7c400;
    font-size: 22px;
}

/*
    GAME
*/

#game {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
#game.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fs-bg);
    backdrop-filter: blur(5px);
}

.game-screen {
    width: 70vw;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 35px;
    border: none;
}
#game.fullscreen .game-screen {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
}
.game_nav {
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 10;
    transform: translateX(-50%) translateY(-100%);
    padding: 10px 32px;
    background: var(--bg2);
    border-radius: 0 0 32px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    transition: transform .3s ease-in-out;
}
.game_nav.show {
    transform: translateX(-50%) translateY(0);
}
.game_nav.hide {
    transform: translateX(-50%) translateY(-100%);
}
.game_nav.close {
    transform: translateX(-50%) translateY(-55%);
    color: transparent;
}
.game_nav_btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
    user-select: none;
    transition: .2s;
}
.game_nav_btn:hover {
    background: rgba(255, 255, 255, 0.10);
}
.game-select {
    position: relative;
}
.game-select .material-symbols-rounded {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
#game-selection {
    color: inherit;
    font-size: 16px;
    border: none;
    background: rgba(255, 255, 255, 0.0);
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 48px 8px 12px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: .2s;
    width: max-content;
}
#game-selection:hover {
    background: rgba(255, 255, 255, 0.10);
}

/*
    LOGIN
 */

#login {
    display: none;
}

#mdpForgetPage {
    display: none;
}
#mdpForgetPage {
    display: none;
}

#connexionPage {
    display: flex;
    gap: 25px;
    margin-top: 60px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: "Faster One", system-ui;
    font-weight: 50;
    font-style: normal;
    font-size: 30px;
}

#connexionPage form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 25px 45px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.dark_mode #connexionPage form {
    background-color: #2C2D59;
}

.em{
    width: 40vw;
    max-width: 800px;
    border: 1px solid  rgb(162, 162, 162);
    border-radius: 35px 35px 35px 35px;
    font-weight: 200;
    transition: border 1s;
    font-size: 16px;
}

.em:hover{
    border: 1px solid #181735;;
}

.em:focus {
    outline: 1px solid #181735;
}



.error-message {
    color: red;
    font-size: 15px;
    width: 40vw;
    text-align: center;
    margin-top: 2px;
}

.error-message2 {
    color: red;
    font-size: 15px;
    width: 40vw;
    text-align: center;
    margin-top: 2px;
}

.error-message3 {
    color: red;
    font-size: 15px;
    width: 40vw;
    text-align: center;
    margin-top: 2px;
}

#passwordMismatchError {
    color: red;
    font-size: 15px;
    width: 40vw;
    text-align: center;
    margin-top: -2px;
    margin-bottom: 8px;
}

.psd {
    width: 40vw;
    max-width: 800px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 35px 35px 35px 35px;
    font-weight: 200;
    transition: border 1s;
    font-size: 16px;
}

.psd:hover{
    border: 1px solid #181735;;
}

.psd:focus {
    border: 1px solid #181735;
    outline: none;
}


.val {
    padding: 4px 16px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    background-color: #5b5a81;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px 25px 25px 25px;
    transition: background-color 0.4s, color 0.4s;
}

.dark_mode .val {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}

.dark_mode .val:hover {
    background-color: #181735;
    color: white;
    border: 1px solid #181735;
}

.val:hover {
    background-color: #32315c;
    color: white;
    border: 1px solid #181735;
}

.mdpflien {
    color: #000000;
    text-decoration: none;
    transition: color 0.4s;
    margin-bottom: -5px;
}

.mdpflien:hover {
    color: #ff0000;
}

.dark_mode .mdpflien {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.4s;
}

.dark_mode .mdpflien:hover {
    color: #ff0000;
}

.newalien {
    color: #000000;
    text-decoration: none;
    transition: color 0.4s;
    margin-top: -20px;
}

.newalien:hover {
    color: #ff0000;
}

.dark_mode .newalien {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.4s;
}

.dark_mode .newalien:hover {
    color: #ff0000;
}




#newAccountPage {
    display: none;
    height: 60vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 15px;
    margin-top: 100px;
    font-family: "Faster One", system-ui;
    font-weight: 50;
    font-style: normal;
    font-size: 30px;
}

#newAccountPage form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 10px 100px;
    background-color: #ffffff;
    border-radius: 30px; /* Même arrondi que pour la page de connexion */
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;

}


#newAccountPage h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dark_mode #newAccountPage form {
    background-color: #2C2D59;
}

.newAccountBtn {
    display: flex;
}

.pre, .no, .em2, .psd1, .psd2 {
    padding: 18px;
    width: 40vw;
    max-width: 800px;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 30px;
    font-weight: 200;
    transition: border 1s;
}

.pre:hover, .no:hover, .em2:hover, .psd1:hover, .psd2:hover {
    border: 1px solid #181735;
}

.pre:focus, .no:focus, .em2:focus, .psd1:focus, .psd2:focus {
    border: 1px solid #181735;
    outline: none;
}

.ba1, .val2 {
    padding: 8px 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 400;
    background-color: #5b5a81;
    border: 1px solid #ffffff;
    border-radius: 25px;
    transition: background-color 0.6s, color 0.6s;
}

.val2{
    margin-left: 20px;
}

.ba1:hover, .val2:hover {
    background-color: #32315c;
    color: white;
    border: 1px solid #181735;
}


.dark_mode .ba1, .dark_mode .val2 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}

.dark_mode .ba1:hover, .dark_mode .val2:hover {
    background-color: #181735;
    color: white;
    border: 1px solid #181735;
}


.recie {
    width: 40vw;
    text-align: center;
    transition: color 0.4s;
}

.recie:hover {
    color: #ff0000;
}





#mdpForgetPage {
    display: none;
}

#mdpForgetPage {
    gap: 25px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#mdpForgetPage form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 55%;
    height: 100%;
    gap: 40px;
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    font-size: medium;
}

.dark_mode #mdpForgetPage form {
    background-color: #2C2D59;
}

#mdpForgetPage h1 {
    font-size: 30px;
    font-weight: 50;
    font-style: normal;
    font-family: "Faster One", system-ui;

}

#mdpForgetPage h4 {
    text-align: center;
}


.em1{
    width: 85%;
    height: 15%;
    margin-left: 30px;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 30px 30px 30px 30px;
    font-weight: 200;
    transition: border 1s;
}

.em1:hover{
    border: 1px solid #181735;;
}

.ba{
    padding: 6px 20px;
    margin-bottom: 40px;
    color: rgb(172, 171, 171);
    font-size: 24px;
    font-weight: 200;
    background-color: #5b5a81;
    border: 1px solid #ffffff;
    border-radius: 35px 35px 35px 35px;
    transition: background-color 0.6s, color 0.6s;
}

.ba:hover{
    background-color: #181735;
    color: white;
}

.val1 {
    padding: 6px 20px;
    margin-bottom: 40px;
    margin-left: 5px;
    color: rgb(172, 171, 171);
    font-size: 24px;
    font-weight: 200;
    background-color: #5b5a81;
    border: 1px solid #ffffff;
    border-radius: 40px 40px 40px 40px;
    transition: background-color 0.6s color 0.6s;
}

.val1:hover{
    background-color: #181735;
    color: white;
}

.dark_mode .ba, .dark_mode .val1 {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.dark_mode .ba:hover, .dark_mode .val1:hover {
    background-color: #181735;
    color: white;
    border: 1px solid #181735;
}

/*
    JEUX
 */

#mouse_c .card__img{
    background: url("../assets/Mistigri-la-souris.png") no-repeat center top/cover;
}
#tic-tac-toe_c .card__img{
    background: url("../assets/Tic-Tac-Toe.png") no-repeat center top/cover;
}
#snake_c .card__img{
    background: url("../assets/Snake-2.png") no-repeat center top/cover;
}
#tetris_c .card__img {
    background: url("../assets/Tetris.png") no-repeat center top/cover;
}
#deminer_c .card__img{
    background: url("../assets/deminer-2.png") no-repeat center top/cover;
}

@media screen and (max-width: 1000px){
    body{
        flex-direction: column-reverse;
        overflow-x: none;
        height: max-content;
        overflow: scroll;
    }
    header{
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        position: sticky;
        bottom: 0px;
        z-index: 10;
        background-color: #444394;
        justify-content: space-around;
    }    
    main{
        border-radius: 0px;
        height: fit-content;
        min-height: 90vh;
    }
    .theme-toggle{
        right: 10vw;
    }
    .logo-title{
        margin-right: 20vw;
    }
    .title{
        width: max-content;
    }
    .settings__wrapper{
        flex-direction: column;
    }
    .home_search{
        flex-direction: column;
        gap: 3vh;
        margin-left: 50%;
        transform: translateX(-50%);
        padding-left: 0px;
        width: fit-content;
        justify-content: center;
    }
    .search__wrapper{
        width: fit-content;
        position: relative;
        margin-right: 50%;
        transform: translateX(50%);
        padding: 0px;
    }
    .card{
        width: 100%;
        height: max-content;
    }
    .card__img{
        aspect-ratio: 3/1;
        object-fit: contain;
    }
    .bestGames{
        position: relative;
        height: max-content;
        overflow: visible;
    }
    .git{
        position: relative;
        margin-top: 5vh;
    }
    .notResp{
        display: none !important;
    }
    .game-screen{
        height: 65vh;
        width: 90vw;
    }
    .play{
        display: none!important;
    }
    #nav-game2{
        display: none;
    }
    .mainlogo{
        margin-left: 150%;
    }
}
