.itemGlobal{
    background-color: var(--bg2);
    width: 20vw;
    text-align: center;
    border-radius: 30px;
    padding-bottom: 4vh;
}
.itemGlobal img{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 4vh;
    border-radius: 30px;
    width: 15vw;
}
.itemGlobal p{
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: left;
    margin-left: 2vw;
    font-size: 20px;
    color: white!important;
}
.itemGlobal button{
    background-color: lightgreen;
    border: none;
    padding: 1vw;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.5s;
}
.itemGlobal button:hover{
    background-color: white;
    transform: scale(1.1);
}
#mainContent{
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;
}
.noteDiv span{
    color: yellow;
    cursor: default;
}
.noteDiv{
    margin-top: 2vh;
}
.item_buy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.item_nb {
    width: 64px;
    height: 32px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 4px 8px;
    font-size: 16px;
}

@media screen and (max-width: 900px) {
    .itemGlobal{
        width: 30vw;
    }
    .mainlogo{
        width: 20vw;
        margin-left: 200%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 550px) {
    .itemGlobal{
        width: 35vw;
    }
}
@media screen and (max-width: 500px) {
    .itemGlobal{
        width: 70vw;
    }
    .mainlogo{
        width: 30vw;
        margin-left: 175%;
        transform: translateX(-50%);
    }
    .itemGlobal img{
        margin-left: 50%;
        width: 30vw;
    }
}