:root {
    --bg1: #181735;
    --bg2: #444394;
    --bg3: #ffffff;
    --text-color: #ffffff;
    --text-color-inactive: rgba(255, 255, 255, 0.5);
    --fs-bg: rgba(24, 23, 53, 0.70);
}
@media (prefers-color-scheme: light) {
    .dark_mode {
        --bg1: #f4f4f4;
        --bg3: #181735;
        --text-color: #444394;
        --fs-bg: rgba(244, 244, 244, 0.70);
    }
}
.tile{
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.tile p{
    margin: 0px;
    margin-top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
body{
    margin: 0px;
    height: fit-content;
    overflow: hidden;
}
#Game{
    display: flex;
    flex-direction: line;
    flex-wrap: wrap;
    height: 90vh;
    width: 90vh;
}

.Dark{
    background-color: rgba(0, 188, 72, 1);
}
.Light{
    background-color: rgba(130, 222, 1, 1);
}
.Revealed{
    background-color: burlywood;
    font-size: 250%;
    text-align: center;
    font-family: Roboto;
    color: darkred;
}
.marked{
    background-image: url("./cross.webp");
}
.bomb{
    background-image: url("./bomb.png");
    background-position: center;
}
#Main{
    display: none;
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%,-50%);
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-self: center;
}
#Info{
    height: max-content;
    display: flex;
    align-items: center;
    gap: 1vw;
    border: solid 8px var(--bg3);
    border-radius: 30px;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
#Info img{
    width: 5vw;
}
#Info p{
    font-family: Roboto;
    font-size: 25px;
    color: var(--text-color);
}
.annonce{
    display: none;
    position: absolute;
    text-align: center;
    background-color: lightgreen;
    width: 100vw;
    padding-bottom: 5vh;
    font-size: 50px;
    font-family: Roboto;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}
#annonceDéfaite{
    background-color: red;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}
.rejouerButton{
    font-size: 30px;
    font-family: Roboto;
    background-color: lightblue;
    border: none;
    padding: 1vw;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.rejouerButton:hover{
    background-color: lightgreen;
}
#startDiv{
    background-color: rgba(0, 188, 72, 1);
    width: 100%;
    height: 90vh;
    margin-top: 50vh;
    transform: translateY(-50%);
    border-radius: 50px;
}
#startDiv h1{
    color: var(--text-color);
    font-family: Roboto;
    margin-top: 5vh;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
}
#buttonDiv{
    margin-left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    margin-top: 45vh;
    position: absolute;
    height: fit-content;
    display: flex;
    gap: 10vw;
}
.difficultyButton{
    font-size: 30px;
    font-family: Roboto;
    border: none;
    padding: 1vw;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.difficultyButton:hover{
    transform: scale(1.2);
    color: white;
    box-shadow: 0 0px 30px lightgray;
}
#easyButton{
    background-color: lightgreen;
}
#mediumButton{
    background-color: yellow;
}
#hardButton{
    background-color: red;
}
#Side{
    width: fit-content;
    margin-left: 5vw;
}
#returnButton{
    font-size: 30px;
    width: fit-content;
    background-color: burlywood;
    font-family: Roboto;
    margin-top: 5vh;
    padding: 1vw;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1vw;
    transition-duration: 0.5s;
}
#returnButton img{
    width: 3vw;
    transition-duration: 0.5s;
}
#returnButton:hover{
    transform: scale(1.2);
    color: white;
}
#returnButton:hover #returnIMG{
    filter: invert(100%);
}