* {
    box-sizing: border-box;
}

body,html{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#globalGame{
    width: 110vh;
    margin-left: 50vw;
    transform: translateX(-50%);
}
.controls {
    position: absolute;
    left: 0;
    top: 50%;
}
#centerGame{
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    width: 64vh;
    margin-left: 50%;
    transform: translateX(-50%);
    border: groove 20px #d0d0d0;
    border-radius: 4px;
}
.case{
    box-sizing: border-box;
    width: 4vh;
    height: 4vh;
    background-color: #232323;
    border: solid #3a3a3a 1px;
    border-radius: 2px;
}
.score__display {
    color: #ffffff;
    font-weight: bold;
}
