.position{
    width: 5%;
    height: 5%;
}
#game{
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    height: 80vh;
    margin: 0px;
    position: relative;
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
}
body{
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}