.position{
    width: 5%;
    height: 5%;
}
#game{
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    height: 80vh;
    margin: 0px;
    position: relative;
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
}
body{
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}
h1{
    text-align: center;
    font-size: 50px;
    background-color: lightblue;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100vw;
    height: fit-content;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
    justify-content: center ;
    font-family: Roboto;
    display: none;
    flex-direction: column;
}
#rejouer{
    width: 15%;
    height: 50%;
    background-color: lightgreen;
    border: none;
    font-size: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    cursor: pointer;
}